{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Parolni tiklash {% endblock title %}
{% block body %}
<div class="container border border-dark rounded rouded-4 p-3 col-4 my-3">
    <h1 class="text-center">Email kiriting:</h1>
    <form method="post">
    {%csrf_token %}
    {{ form|crispy }}
   <div class="text-center">
     <button class="btn btn-dark">Yuborish</button>
    <p class="text-dark">Orqaga ? <a class="text-reset" href="{% url 'login' %}">Login</a></p>

   </div>
</form>
</div>
{% endblock body %}