{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Yangi parol o'rnatish {% endblock title %}
{% block body %}
<div class="container border border-dark rounded rouded-4 p-3 col-4 my-3">
    <h1 class="text-center">Yangi parol o'rnatish</h1>
    {% if validlink%}
    <form method="post">
    {%csrf_token %}
    {{ form|crispy }}
   <div class="text-center">
     <button class="btn btn-dark">Saqlash</button>
    <p><a class="text-dark" href="{% url 'profile_detail' %}">Orqaga</a></p>
   </div>
</form>
{% else %}
<p>Reset link yaroqsiz !</p>
{% endif %}
</div>
{% endblock body %}