{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Parolni o'zgartirish {% endblock title %}
{% block body %}
<div class="container border border-dark rounded rouded-4 p-3 col-4 my-3">
    <h1 class="text-center">Parol o'zgaritish</h1>
    <form method="post">
    {%csrf_token %}
    {{ form|crispy }}
   <div class="text-center">
     <button class="btn btn-dark">Saqlash</button>
    <p><a class="text-dark" href="{% url 'profile_detail' %}">Orqaga</a></p>
   </div>
</form>
</div>
{% endblock body %}