{% extends "base.html" %}
{% block title %}Delete product{% endblock %}

{% block content %}
<div class="row justify-content-center">
 <div class="col-md-7">
   <div class="card shadow-sm">
     <div class="card-body">
       <h1 class="h5 mb-3">Mahsulotni o‘chirish</h1>

       <p>
         Rostdan ham <strong>{{ object.name }}</strong> mahsulotini o‘chirmoqchimisiz?
       </p>

       <form method="post">
         {% csrf_token %}
         <button class="btn btn-danger">Yes, delete</button>
         <a class="btn btn-outline-secondary" href="{% url 'seller_products' %}">Cancel</a>
       </form>

     </div>
   </div>
 </div>
</div>
{% endblock %}
