.my-message{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


nav{
    position: fixed !important;
    top: 0px !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1;
    border-bottom: 2px solid gray;
}